:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-container {
   width: 320px;
}

.auth-container {
    h3 {
        font-size: 24px !important;
    }
}